@import "../../.cache/wal/colors-waybar.css"; 

.control-center {
    background-color: rgb(0, 0, 0);
    border: 2px solid @color9; 
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
}

.widget-buttons-grid {
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid @color9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
}

.widget-buttons-grid button:hover {
    color: @color9;
    background: transparent; 
}

.widget-buttons-grid > box {
    justify-content: center; 
}

.widget-buttons-grid button {
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin: 0 19px;
    transition: all 0.3s ease;
    box-shadow: none;
    border: none;
}

.widget-title > box > button {
    color: @color9;
    background: transparent;
}

.widget-dnd {
  margin: 10px 6px;
}

.widget-dnd > switch {
  background: alpha(@111111, 1.0);
  border-radius: 14px;
  padding: 2px;
}

.widget-dnd > switch:checked {
  background: @color9; 
}

.widget-dnd > switch slider {
  background: #111111;
  border-radius: 10px;
}

.widget-notifications,
.control-center-list,
.control-center-list-row,
.notification-row,
.notification-background,
.notification,
.notification-content,
.notification-group,
.notification-group-headers {
    all: unset;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.notification-row {
    margin: 8px;
}

.notification-background {
    background-color: rgba(0, 0, 0, 0.90);
    border: 2px solid @color9;
    border-radius: 20px;
    color: @color9;
    padding: 12px;
}

.summary { 
    font-size: 16px; 
    color: #ffffff; 
}

.body { 
    font-size: 14px; 
    color: #ffffff; 
}

.summary {
    display: block;
    font-weight: 800;
    font-size: 1rem;
    color: @color9 !important;
    margin-bottom: 4px;
}

.body {
    display: block;
    font-size: 0.85rem;
    color: #ffffff !important;
}

.image {
    margin: 5px 15px 5px 0px;
    border-radius: 10px;
}

.notification-group-headers {
    display: block;
    margin: 5px 10px;
    font-weight: bold;
    color: #ffffff;
}

.widget-title, .widget-dnd {
    font-size: 20px;
    color: #ffffff;
    margin: 1px 1px;
}

.widget-mpris {
    min-width: 200px; 
    background: transparent !important;
    padding: -5px;
    margin: 0px;
}

